body {
    font-family: "Space Mono", "sans-serif";
    display: grid;
    grid-template-columns: auto;
}
  
h1 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}
p {
    padding: 0px 5px 10px 5px;
}
aside {
    padding-bottom: 10px;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
.skip a {
    position: absolute;
    top: -40px;
    z-index: 1;
    color: black;
}

.skip a:focus {
    position: absolute;
    top: 0;
    color: black;
}

*:focus {
    border: 2px solid black;
}

nav a {
    font-size: 25px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: red;
    text-decoration: underline;
}

img {
    width: 95%;
    max-height: 300px;
    border: blue solid 5px;
    padding: 5px;
}
img:hover {
    opacity: 0.3;
}
footer {
    background-image: url('../images/teal-logo.jpg');
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

@media screen and (min-width: 800px){
    body {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    header, main, footer, .flex-container {
        grid-column: 1 / span 3;
    }
    img {
        width: 380px;
        height: 275px;
        border: blue solid 5px;
        margin-top: 10px;
    }

}
@media screen and (prefers-reduced-motion: reduce){
    html{
      scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none;
      transition: none;
    }
  }