.skip a {
    position: absolute;
    top: -40px;
    z-index: 1;
    color: black;
}

.skip a:focus {
    position: absolute;
    top: 0;
    color: black;
}

*:focus {
    border: 2px solid black;
}

nav a {
    font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: red;
    text-decoration: underline;
}