body {
    font-family: "Space Mono", "sans-serif";
    background-image: none;
    display: grid;
}
h1 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5px;
}
.skip a {
    position: absolute;
    top: -40px;
    z-index: 1;
    color: black;
}

.skip a:focus {
    position: absolute;
    top: 0;
    color: black;
}

*:focus {
    border: 2px solid black;
}

nav a {
    font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: red;
    text-decoration: underline;
}

img {
    width: 100%;
    max-height: 300px;
    overflow:inherit;
    border: blue solid 5px;
    margin: auto;
    padding: 5px;
}
img:hover {
    opacity: 0.3;
}
footer {
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    grid-row: auto;
}

@media screen and (min-width: 800px){
    img {
        width: 400px;
        height: 275px;
        border: blue solid 5px;
        margin: auto;
        padding: 5px;
    }
}